* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Toolbar actions: consistent 34px height for buttons, selects, search */
.toolbar-actions .btn,
.toolbar-actions .form-select,
.toolbar-actions .input-group .form-control,
.toolbar-actions .input-group .input-group-text {
  height: 34px;
}
.toolbar-actions .input-group {
  height: 34px;
}
.toolbar-actions .input-group .form-control {
  min-height: 34px;
}

